.explore-food-ingredients-container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.ingredient-container {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12vh;
  margin-bottom: 12vh;
  max-width: 50%;
  text-decoration: none;
}

.ingredient-container img {
  width: 12vh;
}
