.ExploreCards {
  left: 10%;
  margin: auto;
  position: absolute;
  top: 20%;
  width: 40vh;
}

.ExploreCard {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 15px;
  text-decoration: none;
  width: 40vh;
}

.ExploreCard a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
