.container-categories-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.container-categories-buttons button {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  font-size: 0.5rem;
  font-weight: 700;
  margin: 1px;
  padding: 10px;
}

.container-categories-buttons select {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  width: 250px;
}

.container-categories-buttons .category-checked {
  background-color: #0fa36b;
  border: 2px solid black;
  color: white;
}

.container-foods-or-drinks {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5rem;
  margin: 10px auto 60px;
  text-align: center;
  width: 90%;
}

.meal-or-drink {
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 1px 1px rgba(0, 0, 0, 0.5);
  color: black;
  margin: 10px auto;
  padding: 5px 0;
  width: 40%;
}

.meal-or-drink a {
  color: black;
  text-decoration: none;
}

.meal-or-drink a:hover {
  color: black;
  text-decoration: underline;
}

.meal-or-drink a:active {
  color: black;
  text-decoration: underline;
}

.meal-or-drink a:visited {
  color: black;
  text-decoration: none;
}

.meal-or-drink h1 {
  font-size: 1rem;
  font-weight: 600;
}

.meal-or-drink img {
  border-radius: 10px;
  margin-top: 5px;
  width: 80%;
}

:hover {
  color: black;
  text-decoration: none;
}
